
/* ----------------------------------------------- About us ----------------------------------------------*/

body{
    background-color: #ebf2fa ; 
}

.about-wrapper .card{
    z-index: 10;
    right: -30%;
    top: 30%;
    background-color: #EBF2FA;
    
}

.img1{
    margin-top: 20px;
}



/* ----------------------------------------------- About us End ------------------------------------------*/















































